<!DOCTYPE html>
<html>
    <head>
        <title>OpenShift Demo App</title>
        <meta charset="utf-8">
        <style>

body{

    background: #000000;
    color:#ffffff;
    font-family: courier;
    font-size: 10pt;
    
}

.infodiv{

    background: #7a7a7a;
    padding:20px;

}

        </style>
    </head>

    <body>

        <%- body%>

    </body>

</html>